body
{
  background-color:white;
  border-color: black;
}

p
{
  color:black;
}

div
{
  background-color:black;
}

h1,h2,h4,th,label
{
  color:black;
}
.maintitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.flightsharelogo{
  display: block; 
  margin-left:auto;
  margin-right: auto;
}

th.flyingmusic
{
  background-color:lightskyblue;
}

button
{
  background-color: lightgreen;
}

th.flightshare
{
  background-color: lightskyblue;
}