body
{
  background-color:whitesmoke;
  border-color: black;
}

p
{
  color:black;
}

div
{
  background-color:black;
}

h1,h2,h4,th,label
{
  color:black;
}
.maintitle{
  text-align: center;
}
.flightsharelogo{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: whitesmoke;
}